@model Pedido;
<h3>Resumo do Pedido</h3>

<div  class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3 style="color:black;">Nº do Pedido: @(Model.Id)</h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3 style="color:black;">Seus Dados</h3>
                <div>@Model.Cadastro.Nome</div>
                <div>@Model.Cadastro.Telefone</div>
                <div>@Model.Cadastro.Email</div>
            </div>
            <div class="col-md-3">
                <h3 style="color:black;">Endereço de Entrega</h3>
                <div>@Model.Cadastro.Endereco @Model.Cadastro.Complemento - @Model.Cadastro.Bairro - CEP: @Model.Cadastro.CEP - @Model.Cadastro.Municipio - @Model.Cadastro.UF - Brasil</div>
            </div>
            <div class="col-md-1">
                <h3 style="color:black;"></h3>
            </div>
            <div class="col-md-5">
                <h3 class="pull-left" style="color:black;">Obrigado Pela Preferência</h3>
                <div>
                    <video class="pull-left" src="@Url.Content("~/images/logoBlue.mp4")" controls autoplay width="300" height="200" loop />


                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1">
                <h3 style="color:black;"></h3>
            </div>
            <div class="col-md-5">
                <h3 style="color:black;">Item</h3>
            </div>
            <div class="col-md-4">
                <h3 style="color:black;">Preço</h3>
            </div>
            <div class="col-md-pull-10">
                <h3 style="color:black;">Quantidade</h3>
            </div>
        </div>

        @foreach (var item in Model.Itens)
        {


            <div class="row">
                <div class="col-md-1">
                    <h3 style="color:black;"></h3>
                </div>
                <div class="col-md-5">
                    <img class="img-produto-carrinho" src="/images/produtos/large_@(item.Produto.Codigo).jpg" />
                    <div>@item.Produto.Nome</div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-pull-7">@item.PrecoUnitario</div>
                </div>
                <div class="col-md-1">
                    <div></div>
                </div>
                <div class="col-md-1">
                    <div class="pull-left">@item.Quantidade</div>
                </div>
            </div>
        }

    </div>
</div>

